/*=====CUSTOM CSS BY WEBSIGHTS======*/
/*Loading global variables used in custom ss*/


/*Adding consistent heights to the product titles*/

#CollectionSection a > p {
	height: 5em;
}

#collection-rows--16253300166b442ea9 a > p {
	height: 3em;
}

div.product-item--price {
  margin-bottom: 0;
  text-align: center;
}

p#collection-product-title, #shopify-section-search-template div.grid-item a {
  text-align: center;
}

@media only screen and (min-width: 769px) {
  .grid-uniform .large--one-fifth, .grid-uniform .large--two-tenths {
	height: 400px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;
  }

  .product-grid-item, a.product-grid-item {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;
  }

   .product-grid-image {
    height: 150px;
    margin: auto;
  }
  
  	[data-section-type="collection-row-section"] .qty-wrapper {
  	text-align: center; 
  }
    [data-section-type="collection-row-section"] .qty-wrapper, #CollectionSection .qty-wrapper, #shopify-section-search-template .qty-wrapper, #shopify-section-product-template .qty-wrapper{
    margin-top: 1em;
  }
    [data-section-type="collection-row-section"] label[for="quantity"], #CollectionSection label[for="quantity"], #shopify-section-search-template label[for="quantity"], #shopify-section-product-template label[for="quantity"]{
    display: inline-block;
  }
    [data-section-type="collection-row-section"] .ajaxifyCart--qty,  [data-section-type="collection-row-section"] .js-qty, #CollectionSection .ajaxifyCart--qty,  #CollectionSection .js-qty, #shopify-section-search-template .ajaxifyCart--qty,  #shopify-section-search-template .js-qty, #shopify-section-product-template .ajaxifyCart--qty,  #shopify-section-product-template .js-qty {
    display: inline-block;
  }
  #addToCartForm-product-template > label, #addToCartForm-product-template > div.js-qty{
  	display: block;
  }
}

@media only screen and (max-width: 480px) {
  .small--five-tenths, .small--four-eighths, .small--one-half, .small--six-twelfths, .small--three-sixths, .small--two-quarters {
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .product-grid-item, a.product-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .product-grid-image {
    height: 20vh !important;
  }

  .qty-wrapper {
    margin-top: 1em;
  }
  
  label[for="quantity"] {
    display: inline-block;
  }
  
  .ajaxifyCart--qty, .js-qty {
    display: inline-block;
  }
  /* Hides search bar on search results page on mobile */
  .grid-item form.search-bar {
    display: none;
  }
}

/* Hides components from wrong branches */
.branch_wrong {
	display: none;
}

/* Styling the branch-picker and components -- mobile */

div.branch-picker-wrapper {
  	display: inline-block;
  	width: 100%;
  	max-width: calc(60% + 133px);
}

#branch-picker {
	background-color: #010854;
  	color: white;
}

#branch-picker:hover{
	background-color: #01053c;
}


#mobile-picker-divider {
	display: none;
}

.pagebox {
	display: inline-block;
}

span.page {
	border: .25px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    width: 1.75em;
    text-align: center;
}

span.page > a {
	display: block;
}

#collection-no-match {
  	padding-left: 30px;
}
/* Responsive adjustment of sidebar and grid page on collection pages */
@media screen and (max-width: 1043px) and (min-width: 843px) {
  .large--one-fifth, .large--two-tenths {
  	width: 25%;
  }
  
  .large--eight-tenths, .large--four-fifths {
    width: 75%;
  }
}

@media screen and (max-width: 842px) and (min-width: 770px) {
  .large--one-fifth, .large--two-tenths {
  	width: 27.5%;
  }
  
  .large--eight-tenths, .large--four-fifths {
    width: 72.5%;
  }
}

/*Styling the extra search bar*/

@media screen and (max-width: 480px) {
  .mobile-search {
	display: block;
	margin: 0 auto;
	min-width: 340px;
	max-width: 434px;
	}
 	
  .site-header--text-links {
  	display: none;
  	}

  .custom-announcements {
    display: none;
	}
  
  div.branch-picker-wrapper {
  	margin-left: auto;
  	margin-right: auto;
	min-width: 300px;
	max-width: 434px;
	}
  
/* Styling the branch-picker and components -- mobile */
	#mobile-picker-divider {
      display: block;
      width: 90%;
      margin-top: 10px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      height: 2px;
      background-color: #010854;
      border: none;
	}
  
  	#branch-picker {
      display: block;
      margin: 0 auto;
      width: 50%;
    }
  
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .mobile-search {
	display: block;
	margin: 37px auto 0;
    min-width: 340px;
	max-width: 434px;
	}

  .custom-announcements {
    display: none;
	}
  
  div.branch-picker-wrapper {
  	margin-left: auto;
  	margin-right: auto;
	min-width: 300px;
	max-width: 434px;
	}
  
  input.addtocart {
	font-size: min(1.25vw, 14px);
    }  
}

@media screen and (min-width: 769px) {
	.mobile-search {
		display: none;
	}

	.old-announcements {
      	display: none;
    }
  
	#collection-product-title {
      font-size: min(1.2vw, 13px);
    }
  
  	input.addtocart {
      font-size: min(1vw, 14px);
    }
  
}

.custom-announcements {
  text-align: center;
  padding: 0px;
  background-color: #010755;
  width: 100%;
  margin-top: -30px;
}

.announcements {
  color: #FFF;
}

/* Styling the nav bar */
/* Mobile first... hehe*/
.mobile-nav {
  border-top: .5px solid white !important;
}

.mobile-nav li {
    border-bottom: .5px solid white !important;
  }

.mobile-nav--button {
  border-right: .5px solid white !important;
  border-left: .5px solid white !important;
}

.mobile-nav--dropdown,
.mobile-nav--dropdown-grandchild {
  & > li {
    border-top: .5px solid white !important;
  }

	.mobile-nav--button {
   	 	border-left: .5px solid white !important;
    	border-right: .5px solid white !important;
  	}
}

/* Customizing category sections in the homepage */

.cat-content {

  justify-content: center;
  margin: 0 auto;
  background-color: white;
}

.cat-wrapper {
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1%));
  padding: 10px 0;
}

.cat-box {
  border-radius: 10px;
  border: #a9a9a9 solid 1px;
  max-width: 200px;
  height: 91px;
  overflow: hidden;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.cat-box:hover {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  transform: scale(1.02, 1.02);
}

.cat-content img {
  width: 100%;
}

#cat-link {
  display: inline-block;
}

@media screen and (max-width: 481px) {
  .cat-box {
    height: 68.22px;
}
  .cat-wrapper {
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, minmax(150px, 1%));
  padding: 10px 0;
}
  .cat-content img {
    width: 100%;
}
}

/* Styles the sold out badge */
.product-card__availability {
    text-align: center;
    height: 2em;
    border: 0.2em solid grey;
    font-weight: bold;
    color: white;
    background-color: grey;
  }

#collectionFilters a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  min-height: 50px;
  padding: 10px 14px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.section-header--title {
  margin-bottom: 10px;
}

#collectionFilters a.active,
#collectionFilters a.current,
#collectionFilters a[aria-current="true"],
#collectionFilters a[aria-current="page"],
#collectionFilters li.active > a,
#collectionFilters li.current > a {
  background:rgb(212, 212, 212) !important; /* active bg */
  color: #333 !important;         /* active text */
  font-weight: 500;
}


.product-grid-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.collection-product-title {
  margin-top: 5px;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;         
  -webkit-box-orient: vertical;
  overflow: visible;
  min-height: 3.5em;
  text-align: left !important;
}

.product-item--price .h1 {
  margin-top: 10px;        
  margin-bottom: 0 !important;    
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
}

.product-grid-image img {
  width: 140px;
  height: 140px;  
  object-fit: contain;
}

.grid-uniform .grid-item p{
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 2;         
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 44px;
  text-align: left !important;
}

.ajaxified-cart-feedback {
  margin-top: 10px;
  padding: 12px 14px;
  color: #b00000;
  font-size: 5px;
  font-weight: 400;
}

@media (max-width: 768px) {
.sidebar-menu-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;     
  padding-left: 16px;
  padding-right: 15px;
}

.sidebar-menu-main {
  height: 80px;        
  border-radius: 6px;  
  width: 115px;    
}
}

.js-qty {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin-top: 0 !important;
} 

.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.page {
  display: flex;
  height: 40px;
  align-items: center !important;
  max-width: 500px;
  font-size: 15px;
  justify-content: center;
  width: 40px;
  line-height: 40px !important;
}

.pagebox a,
.pagebox span {
  width: 50px;
  color: #220F61;
}

.pagebox .page.current {
  background: #C14244;
  color: #fff;
  font-weight: 500;
}

input.btn.addtocart {
  display: flex;
  width: 100% !important;
  background-color: #220F61 !important;
  color: #ffffff !important;
  padding: 9px 20px !important;
  border-radius: 6px !important;
  border: none !important;
  cursor: pointer !important;
  text-transform: uppercase !important;
  font-size: 12px!important;
  transition: background-color 0.3s ease !important;
}

.product-grid-image:hover{
  position: relative;
  padding-top: 10px;
  height: 180px;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color:rgb(236, 236, 236);
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
  padding: 10px;
}

button#toggleFilters {
  background-color: #220F61 !important;
  color: #ffffff !important;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .product-grid-image:active {
  position: relative;
  padding-top: 10px;
  height: 180px;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color:rgb(236, 236, 236);
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
  padding: 10px;
  }
}

.ajaxified-cart-feedback.success {
  font-size: 11px !important;
  color: #439C00 !important;
  margin-top: 6px !important;
}

.ajaxified-cart-feedback.error {
  font-size: 11px !important;
  color: #C14244 !important;
  margin-top: 6px !important;
}

.qty-wrapper {
  margin-top: 2px !important;
}

label[for="quantity"] {
  margin: 0 !important;
  padding: 0 !important;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: none !important;
}

.cart-row a, .cart-original-price {
    font-size: 15px;
    font-weight: 600;
    color:rgb(96, 96, 96);
  } 
  
.cart-row  {
    gap: 8px;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 20px;
  }

  .cart-row .remove {
    font-size: 12px !important;
    font-weight: 500;
    color: #858585;
    background-color: #fff;
  }

  .subtotal-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background:rgb(239, 239, 239);
    width: 100%;
    max-width: 1500px;
    margin-bottom: 20px;
    margin: 0 auto;
    overflow: hidden;
  }

  .cart-subtotal--price {
    text-align: right;
  }

  .grid-item.text-right.large--one-half {
  display: flex;
  text-align: center;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
}

button[name="checkout"].btn {
  background-color: #010755; 
  color: #fff;
  border: none;
  width: 250px;
  border-radius: 8px;
}

input.btn-secondary.update-cart {
  border: none;
  width: 250px;
  border-radius: 8px;
}

.cart__policies {
    padding: 13px;
    border: 1px solid #eee;
    border-radius: 6px;
    background:rgb(239, 239, 239);
  }

.cart__policies {
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}


@media screen and (max-width: 768px) {

  .grid-item.two-thirds.large--three-quarters {
  margin-left: 0;      
  padding-left: 6px;
  padding-right: 10px;
  }

  .cart-row a {
    font-size: 15px;
    font-weight: 600;
    color:rgb(96, 96, 96);
    padding: 10px 0;
  }

   .cart-original-price {
    margin-left: 110px;
    font-size: 16px;
   }

  .cart-row {
     display: grid;
    grid-template-columns: 30fr;
    gap: 30px;
    align-items: center;
    padding: 10px 0;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    }

    button[name="checkout"].btn {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1px !important;
    text-align: center;
    height: 55px;
    background: #0b0f66;
    }

  .cart__policies {
    margin-bottom: 1px !important;
    margin-top: 0px !important;
    padding-top: 6px !important;
  }

  .input-full {
  width: 300px;
  max-width: 300px;
  padding-left: 5px;
  }

  .subtotal-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid #eee;
    border-radius: 6px;
    background:rgb(239, 239, 239);
    margin-bottom: 20px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
  }

  .ajaxifyCart--num{
  background: #f5f5f5;
  border-radius: 999px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  min-width: 110px !important;
  padding-left: 0 !important;
  margin-left: 90px !important;
  padding-right: 0 !important;

 }

 .ajaxifyCart--qty-adjuster {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 90px !important;
}

.ajaxifyCart--qty-adjuster.ajaxifyCart--add {
  padding: 0 !important;
  left: 79px !important; 
}
 

 .medium-down--text-left {
  text-align: right !important;
  font-size: 20px;
 }

 .cart-header .cart-price {
  display: none;
 }

 .cart-header .cart-quantity {
  display: none;
  }
}

.cart-header {
  display: grid;
  grid-template-columns: auto auto auto;
  font-weight: bold;
  gap: 8px;
  border-bottom: 2px solid #ccc;
  padding-bottom:20px;
  padding-top: 18px;
  margin-bottom: 10px;
  font-size: 14px;
}

.cart-header-item {
  text-align: center;
}

.cart-header .cart-quantity, 
.cart-header .cart-price {
  text-align: center; 
}

.cart-header .cart-quantity {
  padding-left: 100px;
}

.cart-header .cart-product {
  text-align: left;

}
  .ajaxifyCart--num {
  background: #f5f5f5;
  border-radius: 999px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  min-width: 56px;
}

#change-branch-cart, a.btn {
  background-color:rgb(151, 151, 151); 
  box-shadow: 5px 10px;
  color: #fff;
  border: none;
  line-height: 10px !important;
  border-radius: 10px;
  font-size: 10px;
  margin-bottom: 5px;
  width: 188px !important;
}

.supports-no-touch .ajaxifyCart--num {
  border: 1px solid #ccc !important;
}

@media screen and (max-width: 360px) {
  .accordion-toggle {
    font-size: 10.5px;
    padding: 10px 12px;
  }

  .cart-subtotal--price {
    font-size: 16px;
  }

  button[name="checkout"].btn,
  input.btn-secondary.update-cart {
    height: 38px;
    line-height: 38px;
    font-size: 13px;
    padding-top: 2px;
    font-weight: 700;
  }

  .subtotal-wrapper {
    padding: 8px !important; 
    gap: 6px;
    border-radius: 6px;
  }

  .cart-original-price {
    font-size: 15px;
   }

   #change-branch-cart,
  a.btn {
    width: 163px !important;
    font-size: 11px;
    line-height: normal !important;
    padding: 10px 12px;
    box-shadow: 3px 6px;
  }

  cart-row {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 10px;
    align-items: start;
  }

}

@media screen and ( max-width: 480px) {
  .ajaxifyCart--num {
  min-width: 105px !important; 
  padding-left: 0 !important;
  margin-left: 100px !important;
  padding-right: 0 !important;
  }

  .ajaxifyCart--qty-adjuster {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 103px !important;
}
}

@media screen and (min-width: 769px) {
  a.remove::after {
    content: "Remove";
    text-decoration: underline;
    transition: font-style 0.15s ease;
  }

  a.remove:hover::after,
  a.remove:focus-visible::after {
    font-style: italic;
  }

  .supports-fontface a.remove .icon {
    display: none !important;
  }

  .grid-item.one-sixth {
    display: flex;
    margin-top: 1px;
    margin-right: 250px;
    text-align: center;
    margin-left: 15px;
  }
}